@import "mocha.css";

* {  
	color: @text;
	font-family: 'JetBrainsMono NF';
	font-size: 13px;
	font-weight: bold;
	border: none;
  	border-radius: 0;
  }


  window#waybar {
	  background-color: @base;
	  opacity: 0.95;
	  border-radius: 12px;
	  border: 2px solid @blue;
  }

#workspaces,
#clock,
#temperature,
#cpu,
#memory,
#pulseaudio,
#tray {

	  padding: 0 4px;

	}
#window {
	color: @text;
	}
	#pulseaudio {
		margin-right: 4px;
	 }
	 #temperature {
	  margin-left: 2px;
		  }
	
  #clock {
	font-size: 14px;
	  }

	  #workspaces{
	  	margin-left: 2px;
	  }


#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @base;
}
